<div appTitulos > Completar el formulario de inscripción para crear un perfil </div>

<div class="datosusuario">


<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="grid formgrid">

    <!-- Nombre -->
    <div class="col-6">
      <mat-form-field class="w-full">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput type="text">
      </mat-form-field>
    </div>
  
    <!-- Apellido -->
    <div class="col-6">
      <mat-form-field class="w-full">
        <mat-label>Apellido</mat-label>
        <input formControlName="apellido" matInput type="text">
      </mat-form-field>
    </div>
  
    <!-- Correo -->
    <div class="col-12">
      <mat-form-field class="w-full">
        <mat-label>Correo</mat-label>
        <input formControlName="email" matInput type="email">
      </mat-form-field>
    </div>
  
    <!-- Perfiles -->
    <div class="col-6">
      <mat-form-field class="w-full">
        <mat-label>Perfiles</mat-label>
        <mat-select formControlName="perfil">
          <mat-option value="administrador">Administrador</mat-option>
          <mat-option value="usuario">Usuario</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <!-- Telefono -->
    <div class="col-6">
      <mat-form-field class="w-full">
        <mat-label>Telefono</mat-label>
        <input formControlName="telefono" matInput type="telefono">
      </mat-form-field>
    </div>
  
    <!-- Contraseña -->
    <div class="col-6">
      <mat-form-field class="w-full">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" matInput type="password">
      </mat-form-field>
    </div>
  
    <!-- Botón Guardar Datos -->
    <div class="col-12 flex justify-content-end">
      <button mat-flat-button color="primary">Guardar Datos</button>
    </div>
  
  </form>
</div>
  

  
 

<!--<pre>{{userForm.value | json }}</pre> -->