
<div class="curosestilo">
<div>
  <h2>Listado de Cursos</h2>
  <div class="col-12 flex justify-content-end">
    <button (click)="onCreate()"mat-flat-button color="primary">Agregar cursos</button>
  </div>

  <table mat-table [dataSource]="cursos" class="mat-elevation-z8">
   
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID Curso</th>
      <td mat-cell *matCellDef="let Cursos">{{ Cursos.id }}</td>
    </ng-container>

    <ng-container matColumnDef="asignatura">
      <th mat-header-cell *matHeaderCellDef>Asignatura</th>
      <td mat-cell *matCellDef="let Cursos">{{ Cursos.asignatura }}</td>
    </ng-container>

    <ng-container matColumnDef="profesor">
      <th mat-header-cell *matHeaderCellDef>Profesor</th>
      <td mat-cell *matCellDef="let Cursos">{{ Cursos.profesor }}</td>
    </ng-container>

    <ng-container matColumnDef="cantidadAlumnos">
      <th mat-header-cell *matHeaderCellDef>Cantidad de Alumnos</th>
      <td mat-cell *matCellDef="let Cursos" class="text-center">{{ Cursos.cantidadAlumnos }}</td>
    </ng-container>
    
    <ng-container matColumnDef="vercursos">
      <th mat-header-cell *matHeaderCellDef> Ver Cursos </th>
      <td mat-cell *matCellDef="let Cursos"> <div class= "col-3 flex justify-content-end ">
         <button [routerLink]="Cursos.id" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>visibility</mat-icon>
      </button></div>
       </td>
    </ng-container>

 <!-- Nuevas columnas para borrar y editar -->
 <ng-container matColumnDef="borrarCurso">
  <th mat-header-cell *matHeaderCellDef> Borrar Cursos </th>
  <td mat-cell *matCellDef="let Cursos">
    <div class="col-3 d-flex justify-content-end">
      <button (click)="onDelete(Cursos.id)" mat-mini-fab color="primary" aria-label="Eliminar" *ngIf="perfil === 'administrador' ">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </td>
</ng-container>

<ng-container matColumnDef="editarCurso">
  <th mat-header-cell *matHeaderCellDef> Editar Curso</th>
  <td mat-cell *matCellDef="let Cursos">
    <div class="col-3 d-flex justify-content-end">
      <button (click)="onEdit(Cursos)" mat-mini-fab color="accent" aria-label="Editar" *ngIf="perfil === 'administrador' ">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'asignatura', 'profesor',  'cantidadAlumnos','borrarCurso','editarCurso','vercursos']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'asignatura', 'profesor',  'cantidadAlumnos','borrarCurso','editarCurso','vercursos'];"></tr>


  </table>
</div>
</div>