<mat-drawer-container class="dashboard-container" autosize>
<!-- Sidebar-->

    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Universidad de las ciencias de la tecnologia</p>
      
  <mat-nav-list>
    <a routerLink="home" mat-list-item>Inico</a>  
    <a routerLink="cursos" mat-list-item>Cursos</a>  
    <a routerLink="user" mat-list-item>Usuarios</a>  
    <a routerLink="inscripciones" mat-list-item>inscripciones</a>  
    <a (click)="logout()" mat-list-item>Cerrar Seccion</a>  

  </mat-nav-list>
  
      

    </mat-drawer>

    <!-- Sidebar-->
  

     <!-- Contenido-->
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            
            <button  (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
             
            </button>
            <span>"El primer paso hacia cualquier meta es creer que puedes lograrlo."</span>
            <span class="example-spacer"></span>
            <span class="mr-3" *ngIf=" usuario$ | async; let u"> 
            <!--   {{ u. ? user?.firstName + " " + user?.lastName : 'Usuario no encontrado' }}  -->
                {{u | json}}
              </span>
          </mat-toolbar>
          <div class="p-4">
         <!--<app-user></app-user>-->
       <router-outlet></router-outlet>
        </div>
    </div>
      <!-- Contenido-->
  </mat-drawer-container>


